@font-face {
  font-family: "iconfont";
  /* Project id 4413559 */
  src: url('//at.alicdn.com/t/c/font_4413559_qhhpf16jb2d.woff2?t=1705563296148') format('woff2'), url('//at.alicdn.com/t/c/font_4413559_qhhpf16jb2d.woff?t=1705563296148') format('woff'), url('//at.alicdn.com/t/c/font_4413559_qhhpf16jb2d.ttf?t=1705563296148') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e624";
}
.icon-shezhi:before {
  content: "\e600";
}
.icon-left:before {
  content: "\e603";
}
.icon-right:before {
  content: "\e61f";
}
.icon-zuidahua:before {
  content: "\e65d";
}
.icon-zhuti:before {
  content: "\e91e";
}
.icon-yuyin:before {
  content: "\e8f7";
}
.icon-rescreen:before {
  content: "\e601";
}
.icon-youjian:before {
  content: "\ebca";
}
.icon-zuixiaohua:before {
  content: "\ea6a";
}
.icon-guanbi:before {
  content: "\e62a";
}
.icon-minimoshi:before {
  content: "\e69c";
}
.icon-logo:before {
  content: "\e675";
}
